.about-banner{
    background-image:  url('https://i.ibb.co/KxBDg8P/7.png');
    height: 100%;
    /* width: 100%; */
    background-repeat: no-repeat;

    background-size: cover;
    
}

/* .try{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
} */


.try1 {
    width: 70px;
    height: 90px;
    /* background: red; */
    transition: width 2s, height 4s;
  }
  
  .try1:hover {
    width: 200px;
    height: 200px;
  }
.try2{
    /* width: 70px;
    height: 90px; */
    /* background: red; */
    transition: width 2s, height 4s;
  }
  
  .try2:hover {
    width: 200px;
    height: 200px;
  }
