.about-banner {
    background-image: url('https://i.ibb.co/KxBDg8P/7.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}



.try1 {
    width: 70px;
    height: 90px;
    transition: width 2s, height 4s;
}
.try1:hover {
    width: 250px;
    height: 250px;

}

.try3 {
    width: 50px;
    height: 60px;
    transition: width 2s, height 4s;
}

.try3:hover {
    width: 200px;
    height: 200px;

}


.try2 {
    transition: width 4s, height 6s;
}

.try2:hover {
    width: 200px;
    height: 200px;
}