/* .banner{
    background-image: url('https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8anVuZ2xlJTIwamFtYnVyZWUlMjBiYW5uZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;

    
} */

.banner{
    background-image:linear-gradient(to bottom, rgba(26, 23, 13, 0.219), rgba(0, 0, 0, 0.273)) , url('https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8anVuZ2xlJTIwamFtYnVyZWUlMjBiYW5uZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;

    background-size: cover;

}
