.addToy-banner {
    background-image: url('https://i.ibb.co/b32tyj5/1.png');
    /* height: 100vh; */

    background-repeat: no-repeat;

    background-size: cover;

}



/* black img  */
/* https://i.ibb.co/KxBDg8P/7.png */